.contact{
    padding: 30px 0px;
    background-color: #AC3931;
    color: #FCFDAF; 
    height: 100vh;
}
.contact h2 {
    margin-bottom: 20px;
}
form {
    font-size: 20px;
}
label{
    margin-top: 10px;
    margin-right: 10px;
}
input{
    margin-top: 10px;
}
.contact button {
    width: 50%;
    margin-top: 20px;
    background-color: #5C573E;
    color: #FCFDAF;
}
.contact-links {
    margin-top: 30px;
    background-color: #FCFDAF;
    color: #3D5A80;
    border-radius: 10px 25px 10px 25px;
    border: 1px solid #3D5A80;
    margin-left: 10px;
    padding: 5px 10px;
    width: 30vw;
    max-width: 300px;
}
.contact a{
    text-decoration: none;
    color: #AC3931;
    }