.header{
    background-color: #FCFDAF;
    color: #3D5A80;
    text-align: center;
    border-bottom: 1px solid black;
}
.header-nav{
    text-align: center;
}
.header-logo {
    font-family: RobotoThin;
    font-size: 100px;
}
.header a{
text-decoration: none;
color: #DC9E82;
}