.header{
    background-color: #FCFDAF;
    color: #3D5A80;
    text-align: center;
    padding: 10px 0;
}
.header-nav{
    text-align: center;
}
.header-logo {
    font-family: RobotoThin;
    font-size: 100px;
}
.header a{
text-decoration: none;
color: #AC3931;
}