.footer {
    background-color: #FCFDAF;
    color: #3D5A80;
    border-top: 1px solid black;
    padding: 20px 0px;
}
.footer-list {
    list-style-type: none;
    font-size: 25px;
    margin: 0;
}
.footer a{
    text-decoration: none;
    color: #AC3931;
    }